@use "./variables" as *;

.akce {
  color: black;
  background-color: #ecec79;
  text-align: center;
  padding: 2.5rem 2rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;

  .akce-heading {
    font-size: clamp(1.25rem, 2vw + 1rem, 2.25rem);
    font-weight: 700;
    margin-bottom: 1.25rem;
  }

  .akce-cenik {
    font-size: clamp(1rem, 2vw + 0.5rem, 1.75rem);
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }
}
