@use "./variables" as *;

.section-spletivo {
  font-family: "Montserrat", sans-serif;
  color: black;
  box-sizing: border-box;
  position: relative;
  min-height: 70vh;
  background: #f7f7f7;
  overflow: visible;
}

.section-spletivo-background {
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to bottom right,
    $color-green-dark,
    $color-green-light
  );

  clip-path: polygon(0 0, 100% 0, 100% 90%, 10% 100%, 0 100%);

  z-index: 1;
}

.section-spletivo-container {
  position: relative;
  z-index: 2;
  width: 100%;

  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-spletivo-product {
  width: 90%;
  max-width: 750px;
  display: flex;
  align-items: stretch;
}

.section-spletivo-gal {
  flex-basis: 47%;
  transform: scale(1.08);
  box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.1);
}

.section-spletivo-gal img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}

.section-spletivo-details {
  flex-basis: 53%;
  background: #f7f7f7;
  padding: 40px;
  padding-left: 60px;
  box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.1);
}

.section-spletivo-details h1 {
  color: #333;
  line-height: 1.5;
}

.section-spletivo-details h2 {
  color: #333;
  line-height: 1.6;
  font-weight: 700;
  margin-top: 1.2rem;
}

.section-spletivo-details h3 {
  color: #00d874;
  margin-bottom: 1.5rem;
  margin-top: 1.6rem;
}

.section-spletivo-details p {
  font-size: 1.3rem;
}

.height {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.color-select {
  display: flex;
  align-items: center;
  margin-top: 1.4rem;
}

.color-select p {
  width: 60px;
}

.color-select span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 1.5rem;
}

.color-1 {
  background: $color-primary-green;
}

.color-2 {
  background: #393d47;
}

.color-select input {
  display: none;
}

.color-select input:checked + span {
  transform: scale(0.7);
  box-shadow:
    0 0 0 4px #fff,
    0 0 0 6px #000;
}

.quantity-select {
  display: flex;
  align-items: center;
  margin-top: 1.2rem;
}

.quantity-select p {
  width: 75px;
}

.quantity-select input {
  background: #eee;
  border: 0;
  outline: 0;
  padding: 2px 2px 2px 15px;
  width: 50px;
  border-radius: 3px;
}
.section-spletivo-details form {
  display: flex;
  flex-direction: column;
}

form button {
  margin-top: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;

  font-weight: 600;
  padding: 8px 15px;
  font-size: 1.5rem;
  border-radius: 5px;

  outline: none;
  background-color: $color-goldd;
  background-image: linear-gradient(to right, $color-gold-darkk, $color-goldd);
  border: 1.5px solid rgba($color-gold-dark, 0.7);
  box-shadow: 0 0 10px $color-goldd;
  cursor: pointer;
  transition: 0.2s;
  color: black; /* přidej tuto řádku */
  -webkit-tap-highlight-color: transparent;
  align-self: flex-end;
}

form button:hover {
  box-shadow: none;
  transform: translateY(-2px);
}

form button svg {
  font-size: 1.7rem;
}
