@use "./variables" as *;

.section-spletivo {
  font-family: "Montserrat", sans-serif;
  color: black;
  box-sizing: border-box;
  position: relative;
  min-height: 70vh;
  background: #f7f7f7;
  overflow: visible;
}

.section-spletivo-background {
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to bottom right,
    $color-green-dark,
    $color-green-light
  );

  clip-path: polygon(0 0, 100% 0, 100% 90%, 10% 100%, 0 100%);

  z-index: 1;
}

.section-spletivo-container {
  position: relative;
  z-index: 2;
  width: 100%;

  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-spletivo-product {
  width: 90%;
  max-width: 750px;
  display: flex;
  align-items: stretch;
}

.section-spletivo-gal {
  flex-basis: 47%;
  transform: scale(1.08);
  box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.1);
}

.section-spletivo-gal img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}

.section-spletivo-details {
  flex-basis: 53%;
  background: #f7f7f7;
  padding: 40px;
  padding-left: 60px;
  box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.1);
}

.section-spletivo-details h1 {
  color: #333;
  line-height: 1.5;
}

.section-spletivo-details h2 {
  color: #333;
  line-height: 1.6;
  font-weight: 700;
}

.section-spletivo-details h3 {
  color: #00d874;
  margin-bottom: 1.5rem;
}

.section-spletivo-details p {
  font-size: 1.3rem;
}

.color-select {
  display: flex;
  align-items: center;
  margin-top: 1.4rem;
}

.color-select p {
  width: 60px;
}

.color-select span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 1.5rem;
}

.color-1 {
  background: $color-primary-green;
}

.color-2 {
  background: #393d47;
}

.color-select input {
  display: none;
}

.color-select input:checked + span {
  transform: scale(0.7);
  box-shadow:
    0 0 0 4px #fff,
    0 0 0 6px #000;
}
