@use "./variables" as *;

.section-reccomended {
  font-family: "Montserrat", sans-serif;
  color: black;
  margin-top: 3rem;
  margin-bottom: 2rem;
  background-color: white;
}

.title-rec {
  padding-top: 2.75rem;
  text-align: center;
  font-size: clamp(1.6rem, 3vw, 2.4rem);
  margin-bottom: 2.5rem;
}
