@use "./variables" as *;

.over-wrapper {
  padding: 6rem 1rem;
  margin: 0;
  box-sizing: border-box;
  background: #fff;

  min-height: 80vh;
  display: flex;
  flex-direction: column; // ⬅️ DŮLEŽITÉ
  align-items: center; // horizontální střed
  justify-content: flex-start;
  position: relative;

  font-family: "Montserrat", sans-serif;
  color: black;
  background-image: url("/plotherobestleft.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

.over-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    rgba(255, 255, 255, 0.98),
    rgba(250, 245, 245, 0.9725)
  );

  backdrop-filter: blur(3px);
  z-index: 1;
}

.over-wrapper > * {
  position: relative;
  z-index: 2;
}

.over-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(520px, 1fr));
  gap: 3rem;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
}

.over-title {
  margin-bottom: 4rem;
  text-align: center;
}

.over-title-h1 {
  font-size: clamp(2.4rem, 4vw, 3.2rem);
  font-weight: 600;
}

.over-product {
  width: clamp(520px, 60vw, 540px);
  height: 250px;
  background: #fff;
  padding: 15px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  border: 2px solid #55c57a;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.over-product:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
}

.over-product::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(135deg, $color-green-dark, $color-green-light);
  opacity: 0;
  transform: translate(-30%, -30%);
  transition:
    transform 0.3s ease,
    opacity 0.4s ease;
  z-index: 2;
}

.over-product:hover::before {
  transform: translate(0, 0);
  opacity: 1;
}

.over-product::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/plotherobestleft.webp");
  background-size: cover;
  background-position: center;
  filter: blur(3px);
  transform: scale(1.05); // aby blur „neusekl“ okraje
  z-index: 0;
}

.over-overlay {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.965);
  z-index: 1;
}

.over-product > *:not(.over-overlay) {
  position: relative;
  z-index: 3;
}

.product-img {
  flex-basis: 33%;
}

.product-img img {
  width: 100%;
  height: 100%;
  transition: 0.2s ease;
  border-radius: 50%;
}

.product-details {
  flex-basis: 60%;
}

.product-details h2 {
  font-weight: 600;
  margin-bottom: 1.2rem;
  font-size: clamp(1.7rem, 2.2vw, 2.2rem);
}

.product-details ul {
  margin-bottom: 15px;
}

.product-features {
  list-style: none; // odstraníme defaultní odrážky
  padding-left: 0;

  li {
    position: relative;
    padding-left: 2rem; // místo pro kosočtverec
    margin-bottom: 0.8rem;
    font-size: clamp(1.3rem, 2vw, 1.5rem);
    line-height: 1.3;
    margin-bottom: 1rem;
    font-weight: 600;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%) rotate(45deg); // otočíme čtverec na kosočtverec
      width: 11px; // velikost kosočtverce
      height: 11px;
      border: 3px solid $color-green-dark; // zelený obrys
      background: transparent; // prázdný střed
    }
  }
}

.product-btn {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 2rem;
}

.product-btn button {
  font-size: clamp(1.3rem, 1.8vw, 1.5rem);
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0.8rem 0.8rem;
  outline: none;
  background-color: $color-goldd;
  background-image: linear-gradient(to right, $color-gold-darkk, $color-goldd);
  border: 1.5px solid rgba($color-gold-dark, 0.7);
  cursor: pointer;
  transition: 0.2s;
  color: black;
  -webkit-tap-highlight-color: transparent;
  border-radius: 2px;
  box-shadow: 0 0 10px $color-goldd;
}

.product-btn button:hover {
  box-shadow: none;
  transform: translateY(-2px);
}

@media (max-width: 1100px) {
  .over-grid {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

@media (max-width: 560px) {
  .over-product {
    width: 100%;
    max-width: 100%;
  }

  .over-grid {
    padding-inline: 0.5rem; // aby se karta nedotýkala okrajů
  }
}
