@use "./variables" as *;

.pletiva-section {
  font-family: "Montserrat", sans-serif;
  color: black;
}

.pletiva-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 4rem 1rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.pletiva-about-data {
  max-width: 600px;
}

.pletiva-title-h1 {
  font-size: clamp(2.2rem, 4vw, 3rem);
  line-height: 3;
  letter-spacing: 0.8px;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    $color-green-dark,
    $color-primary-green
  );
  background-clip: text;
  color: transparent;
}

.pletiva-title-h2 {
  font-size: clamp(1.7rem, 3vw, 2.2rem);
  margin-bottom: 1.5rem;
}

.pletiva-description {
  margin-bottom: 2.5rem;
  line-height: 1.6;
  font-size: clamp(1.4rem, 2vw, 1.6rem);
  line-height: clamp(2rem, 2.8vw, 2.2rem);
}

.pletiva-advantages {
  list-style: none;
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 2.2rem;
}

.pletiva-advantages-item {
  display: flex;
  align-items: flex-start;
  gap: 1.1rem;

  font-size: clamp(1.3rem, 1.8vw, 1.5rem);
  line-height: 1.4;
  font-weight: 500;
}

.pletiva-advantages-item svg {
  flex-shrink: 0;
  font-size: 1.3em;
  margin-top: 0.1em;
  color: $color-primary-green;
}

.pletiva-about-image {
  display: flex;
  justify-content: center;
}

.pletiva-about-image img {
  width: 335px;
  height: 335px;
  object-fit: cover;
  border-radius: 50%;
}

@media (max-width: 900px) {
  .pletiva-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .pletiva-about-image {
    order: 1; // obrázek nahoře
  }

  .pletiva-about-image img {
    width: 280px;
    height: 280px;
  }

  .pletiva-about-data {
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  .pletiva-advantages {
    grid-template-columns: 1fr;
  }
}
