@use "./variables" as *;

.pletiva-section {
  font-family: "Montserrat", sans-serif;
  color: black;
}

.pletiva-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 4rem 1rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.pletiva-about-data {
  max-width: 600px;
}

.pletiva-title-h1 {
  font-size: clamp(2.2rem, 4vw, 3rem);
  line-height: 3;
  letter-spacing: 0.8px;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    $color-green-dark,
    $color-primary-green
  );
  background-clip: text;
  color: transparent;
}

.pletiva-title-h2 {
  font-size: clamp(1.7rem, 3vw, 2.2rem);
  margin-bottom: 1.5rem;
}

.pletiva-description {
  margin-bottom: 2.5rem;
  line-height: 1.6;
  font-size: clamp(1.4rem, 2vw, 1.6rem);
  line-height: clamp(2rem, 2.8vw, 2.2rem);
}

.pletiva-advantages {
  list-style: none;
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 2.2rem;
}

.pletiva-advantages-item {
  display: flex;
  align-items: flex-start;
  gap: 1.1rem;

  font-size: clamp(1.3rem, 1.8vw, 1.5rem);
  line-height: 1.4;
  font-weight: 500;
}

.pletiva-advantages-item svg {
  flex-shrink: 0;
  font-size: 1.3em;
  margin-top: 0.1em;
  color: $color-primary-green;
}

.pletivo-needed {
  max-width: 1100px;
  margin: 0 auto;
  padding: 4rem 1rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
  margin-top: 3.5rem;
}

.pletivo-needed-text {
  max-width: 600px;
  order: 2;
  margin-top: -5rem;
}

.pletivo-needed-h2 {
  font-size: clamp(1.7rem, 3vw, 2.2rem);
  margin-bottom: 2rem;
}

.pletivo-needed-ul {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pletivo-needed-item {
  font-size: clamp(1.3rem, 1.8vw, 1.5rem);
  font-weight: 500;
  line-height: 1.4;
}

.pletivo-needed-item svg {
  flex-shrink: 0;
  font-size: 1.3em;
  margin-top: 0.1em;
  color: $color-primary-green;
  margin-right: 0.8rem;
}

.pletiva-about-image {
  display: flex;
  justify-content: center;
}

.pletiva-about-image img {
  width: 335px;
  height: 335px;
  object-fit: cover;
  border-radius: 50%;
}

.pletivo-slider {
  display: flex;
  justify-content: center;
  order: 1;
}

.pletivo-slider .slider {
  width: 335px;
}

.pletivo-slider img {
  width: 335px;
  height: 290px;
  object-fit: cover;
  border-radius: 50%;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider img {
  width: min(45rem, 90%);
  border-radius: 50%;
  box-shadow: 5px 5px 10px 0px #ccc;
  transition: opacity 0.3s ease;
}

.slider-label {
  margin-top: 1.2rem;
  font-size: clamp(1.5rem, 2vw, 2.3rem);
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}

.slider-controls {
  display: flex;
  gap: 0.8rem;
  margin-top: 1.5rem;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  background-color: #ccc;
  cursor: pointer;
}

.dot.active {
  background-color: $color-primary-green;
}

.slider-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.85);
  border: none;
  cursor: pointer;

  width: clamp(3rem, 5vw, 4.2rem);
  height: clamp(3rem, 5vw, 4.2rem);
  border-radius: 50%;

  font-size: clamp(2rem, 4vw, 3rem);
  font-weight: 600;
  color: #333;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease;
  z-index: 2;

  -webkit-tap-highlight-color: transparent;

  &:hover {
    background: white;
    color: $color-primary-green;
    transform: translateY(-50%) scale(1.05);
  }
}

.slider-arrow.left {
  left: clamp(0.5rem, 2vw, 1.5rem);
}

.slider-arrow.right {
  right: clamp(0.5rem, 2vw, 1.5rem);
}

//////////// PRODUCT CARTS
.pletivo-products {
  max-width: 1100px;
  margin: 4rem auto;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: repeat(4, max-content);
  justify-content: center;
  gap: 3rem;

  justify-items: center;
}

.pletivo-product {
  position: relative;
  overflow: hidden;
  background-color: #f7f7f7;

  width: 280px;
  height: auto;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0px 40px;
  border-radius: 5px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.pletivo-product::before {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to top left,
    $color-green-light,
    $color-green-dark
  );

  transform: scale(0);
  transform-origin: bottom right; // START: pravý dolní roh
  transition: transform 0.3s ease;

  z-index: 1;
}

.pletivo-product:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
}

.pletivo-product:hover h3,
.pletivo-product:hover p {
  color: white;
}

.pletivo-product:hover::before {
  transform: scale(1);
}

.pletivo-product > * {
  position: relative;
  z-index: 2;
}

.pletivo-product-image {
  width: 100%;
  height: 275px; /* KLÍČ */
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.pletivo-product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.pletivo-product-text {
  margin-top: 1.5rem;
  padding: 20px;
}

.pletivo-product-pricing {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pletivo-product-pricing h3 {
  font-size: 1.6rem;
  text-transform: capitalize;
  line-height: 1.4;
  min-height: 4.2rem;
}

.pletivo-product p {
  margin-top: 1rem;
  font-size: 1.45rem;
  line-height: 1.7;
}

.pletivo-product-price h4 {
  font-size: 1.95rem;
  letter-spacing: 1px;
  padding-top: 1.5rem;
}

.btn-buy {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.btn-buy button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;

  font-weight: 600;
  padding: 10px 25px;
  font-size: 1.6rem;
  border-radius: 5px;

  outline: none;
  background-color: $color-goldd;
  background-image: linear-gradient(to right, $color-gold-darkk, $color-goldd);
  border: 1.5px solid rgba($color-gold-dark, 0.7);
  box-shadow: 0 0 10px $color-goldd;
  cursor: pointer;
  transition: 0.2s;
  color: black; /* přidej tuto řádku */
  -webkit-tap-highlight-color: transparent;
}

.btn-buy button:hover {
  box-shadow: none;
  transform: translateY(-2px);
}

.btn-buy button svg {
  font-size: 1.2em;
}

/////////////////////////////////// MEDIAAAAAAA

@media (max-width: 1290px) {
  .pletivo-products {
    grid-template-columns: repeat(3, max-content);
  }
}

@media (max-width: 900px) {
  .pletiva-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .pletiva-about-image {
    order: 1; // obrázek nahoře
  }

  .pletiva-about-image img {
    width: 280px;
    height: 280px;
  }

  .pletiva-about-data {
    margin: 0 auto;
  }

  .pletivo-needed {
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 1rem;
  }

  .pletivo-needed-text {
    margin: 0 auto;
    order: 1; // text nahoře
  }

  .pletivo-slider {
    order: 2; // slider dole
  }

  .pletivo-slider img {
    width: 280px;
    height: 280px;
  }

  .pletivo-needed-ul {
    align-items: flex-start;
    text-align: left;
  }

  .pletivo-needed-item {
    text-align: left;
  }

  .pletivo-products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .pletiva-advantages {
    grid-template-columns: 1fr;
  }

  .pletivo-products {
    grid-template-columns: 1fr;
  }
}
