// COLOR VARIABLES
$color-primary: #e0c19e;
$color-primary-dark: #b88a56;

$color-secondary: #42476c;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

$color-black: #000;

$color-primary-green: #55c57a;
$color-green-light: #7ed56f;
$color-green-dark: #28b485;

$color-gold: #ffbf00;
$color-gold-dark: #B8860B;

$color-goldd: #f0c047;
$color-gold-darkk: #c89410;

$color-wood: #a18a71;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// BOX SHADOWS
$box-shadow-basic: 0 1rem 2rem rgba($color-black, 0.15);

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;
$font-lato: "Lato", sans-serif;
